In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [9]:
df1 = pd.read_clipboard(header=None)

In [10]:
df1

   0                        1      2    3    4   5      6     7          8
0  1           Dallas Cowboys    898  512  380   6  0.573  1960   NFC East
1  2            Chicago Bears  1,386  761  583  42  0.564  1920  NFC North
2  3        Green Bay Packers  1,352  743  571  38  0.564  1921  NFC North
3  4  New England Patriots[b]    900  500  391   9  0.561  1960   AFC East

In [16]:
 str1 = str(df1[0][0].astype(str)).zfill(6)
 str1

'000001'

In [43]:
df1.iloc[0][1]

'Dallas Cowboys'

In [45]:

str2 = df1.iloc[0][1].ljust(30,' ')
str2

'Dallas Cowboys                '

In [49]:
str3 = str(df1.iloc[0][2]).rjust(10,' ')

In [50]:
str1 + str2 +str3

'000001Dallas Cowboys                       898'

In [32]:
df1.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [55]:
#to tell if a filed is numeric or string

type(df1.iloc[0][1]) == str

True